SERVER_URL="http://localhost:8080"
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
SESSION_SECRET="your_session_secret"
DATABASE_URL="postgres://user:password@localhost:5432/dbname"
GIPHY_API_KEY="your_giphy_api_key"
AUTH_ENDPOINT="/auth/your_auth_endpoint"
